description "Consul Agent"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [!2345]

respawn
respawn limit 10 10

kill timeout 10

pre-start script
    mkdir -p -m0755 /var/run/consul
end script

script
  # Make sure to use all our CPUs, because Consul can block a scheduler thread
  export GOMAXPROCS=`nproc`
  
  if [ -f "/etc/default/consul" ]; then
    . /etc/default/consul
  fi
  exec /usr/bin/consul agent -config-dir={{ consul_config_dir }} -data-dir={{ consul_data_dir }} -pid-file=/var/run/consul/consul.pid ${CONSUL_FLAGS}
end script