# Etcd Upstart and SysVinit configuration file

# Customize etcd location 
# ETCD="/usr/bin/etcd"

# Use ETCD_OPTS to modify the start/restart options
ETCD_OPTS="--name={{ inventory_hostname }}
           --proxy={{ etcd_proxy }}                                                                
           --data-dir={{ etcd_data_dir }}                                                                       
           --listen-peer-urls={{ etcd_peer_scheme }}://0.0.0.0:{{ etcd_peer_port }}                       
           --listen-client-urls={{ etcd_client_scheme }}://0.0.0.0:{{ etcd_client_port }}                                 
           --initial-advertise-peer-urls={{ etcd_peer_scheme }}://{{ private_ipv4 }}:{{ etcd_peer_port }} 
           --initial-cluster={{ etcd_initial_cluster }}                                                   
           --initial-cluster-state={{ etcd_initial_cluster_state }}                                       
           --initial-cluster-token={{ etcd_initial_cluster_token }}                                       
           --advertise-client-urls={{ etcd_client_scheme }}://{{ private_ipv4 }}:{{ etcd_client_port }}   
           "