ETCD_MACHINES={% for host in groups[etcd_servers_group] %}{{ etcd_client_scheme }}://{{ hostvars[host].private_ipv4 }}:{{ etcd_client_port }}{% if not loop.last %},{% endif %}{% endfor %}

SKYDNS_DOMAIN={{ kube_dns_domain }}