127.0.0.1   localhost 
{% for item in groups['all'] %}
{% if hostvars[item].private_ipv4 is defined %}
{{ hostvars[item].private_ipv4 }} {% if use_host_domain %}{{ item }}.{{ host_domain }}{% endif %} {{ item }}
{% endif %}
{% endfor %}