description "Docker Container:Etcd"

start on (filesystem and started docker)
stop on runlevel [!2345] or stopping docker

respawn

pre-start script
  mkdir -p /var/run/docker
  # Wait for docker to finish starting up first.
  FILE=/var/run/docker.sock
  while [ ! -e $FILE ] ; do
    sleep 1
  done
end script

post-start script
  docker rm -f etcd
end script

script
  exec docker run --rm --name=etcd --env-file=/etc/default/etcd --publish=2379:2379 --publish=2380:2380 --volume=/var/lib/etcd:/var/lib/etcd baselibrary/etcd:2.2
end script

pre-stop script
  /usr/bin/docker stop etcd
end script

post-stop script
  /usr/bin/docker rm --force etcd
end script