description "Docker Container:Skydns"

start on (filesystem and started docker)
stop on runlevel [!2345] or stopping docker

respawn

pre-start script
  mkdir -p /var/run/docker
  # Wait for docker to finish starting up first.
  FILE=/var/run/docker.sock
  while [ ! -e $FILE ] ; do
    sleep 1
  done
end script

post-start script
  docker rm -f skydns
end script

script
  exec docker run --rm --name=skydns --env-file=/etc/default/skydns --publish=153:53 --publish=153:53/udp skynetservices/skydns:2.5.3a --addr=0.0.0.0:53
end script

pre-stop script
  /usr/bin/docker stop skydns
end script

post-stop script
  /usr/bin/docker rm --force skydns
end script