{
"apiVersion": "v1",
"kind": "Pod",
"metadata": {"name":"k8s-master"},
"spec":{
  "hostNetwork": true,
  "containers":[
    {
      "name": "controller-manager",
      "image": "gcr.io/google_containers/hyperkube:{{ kubernetes_version }}",
      "command": [
              "/hyperkube",
              "controller-manager",
              "--master=10.245.1.2:8080",
              "--v=2"
        ]
    },
    {
      "name": "apiserver",
      "image": "gcr.io/google_containers/hyperkube:{{ kubernetes_version }}",
      "command": [
              "/hyperkube",
              "apiserver",
              "--address=0.0.0.0",
              "--etcd-servers=http://10.245.1.2:2379",
              "--cluster-name=kubernetes",
              "--portal-net=192.0.0.1/24",
              "--v=2"
        ]
    },
    {
      "name": "scheduler",
      "image": "gcr.io/google_containers/hyperkube:{{ kubernetes_version }}",
      "command": [
              "/hyperkube",
              "scheduler",
              "--master=10.245.1.2:8080",
              "--v=2"
        ]
    }
  ]
 }
}
