apiVersion: v1
kind: Config
current-context: kubectl-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    server: https://kubernetes.default.svc.{{ kube_dns_domain }}
    certificate-authority-data: {{ kube_ca_cert }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubectl
  name: kubectl-to-{{ cluster_name }}
users:
- name: kubectl
  user:
    token: {{ kube_kubectl_token }}