apiVersion: v1
kind: Config
current-context: kubelet-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    server: https://kubernetes.default.svc.{{ kube_dns_domain }}
    certificate-authority: {{ kube_certs_dir }}/ca.crt
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: kubelet-to-{{ cluster_name }}
users:
- name: kubelet
  user:
    token: {{ kube_kubelet_token }}