apiVersion: v1
kind: Config
current-context: controller-manager-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    server: https://kubernetes.default.svc.{{ kube_dns_domain }}
    certificate-authority: {{ kube_certs_dir }}/ca.crt
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: controller-manager
  name: controller-manager-to-{{ cluster_name }}
users:
- name: controller-manager
  user:
    token: {{ kube_controller_manager_token }}