apiVersion: v1
kind: Config
current-context: proxy-to-{{ cluster_name }}
preferences: {}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: proxy
  name: proxy-to-{{ cluster_name }}
clusters:
- cluster:
    server: https://kubernetes.default.svc.{{ kube_dns_domain }}
    certificate-authority: {{ kube_certs_dir }}/ca.crt
  name: {{ cluster_name }}
users:
- name: proxy
  user:
    token: {{ kube_proxy_token }}