# Traefik Upstart and SysVinit configuration file

# Customize location of Docker binary (especially for development testing).
#TRAEFIK="/usr/bin/traefik"

# Use TRAEFIK_CONF to modify the daemon startup options.
TRAEFIK_CONF="/etc/traefik/traefik.toml"